.LoginPage {
    /* background-color: rgb(152, 230, 255); */
    /* background-image: url('/img/background.jpg'); */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}

.forgot{
    margin-left: 50%;
    color:rgb(158, 156, 152);
}

.headder
{
    font-size:200%;
    color: rgb(146, 151, 151);
    margin-left: 28%;
    
}
.login{

    margin-left: 34%;
}